{% extends 'base.html.twig' %}
{% block title %}New PrestataireService{% endblock %}
{% block body %}
    <h1>Create new PrestataireService</h1>
    {{ include('prestataire_service/_form.html.twig') }}
    <a href="{{ path('app_prestataire_service_index') }}">back to list</a>
{% endblock %}
