<article class="mb-1" style="margin-left: 25%">
    <div class="row">
        <div class="col-md-3">
            {% if article.afficheAnnonce %}
                <a href="">
                    <img src="/hela/uploads/images/{{article.afficheAnnonce}}"  loading="lazy" width="350" height="205" >
                </a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2 class="article-title">
                <a href="" class="text-decoration-none">{{ article.titreAnnonce }}</a>
            </h2>
            <p>
                Ajouté le: {{ article.dateDepot|date('d M Y') }}  <br>
                {{article.RefBien }}
            </p>

            <br>

            <br>

            <br>

        </div>
    </div>
</article>
<hr>