{% extends 'baseadmin.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}

    <h1>Espace admin</h1>

   Accedez aux differents services pour admin.

</div>
{% endblock %}
