<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    {% block stylesheet %}
        <link href="{{ asset ('login/styleloginagent.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>