<form method="post" action="{{ path('app_etat_biens_delete', {'id': contrat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrat.id) }}">
    <div class="mt-4 mb-0" style="margin-left: 25%; margin-right: 25%; align-items: center;">
        <div class="d-grid">
    <button class="btn btn-primary btn-danger">Delete</button>
        </div></div>
</form>
